<!--The content below is only a placeholder and can be replaced.-->
<div>
<div style="text-align:center">
  <h1>
    {{title}}!!
  </h1>
  <img src="../assets/imgae/小可爱.png">
</div>
<h2>孙明茵是我大哥 </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>

</div>
